* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: cyan;
}
h1 {
  font-size: 23vw;
  margin:0;
  
}
h2{
  font-size: 5em;

}
section {
  width: 100%;
  height: 200vh;
}
.kwadrat {
}
.kontener {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.kontener2 {
  display: flex;
  background-color: rgba(252, 189, 73, 255);
  position: relative;
  height: 100vh;
}
#k1 {
  top: 100vh;
  position: absolute;
  height: 30vw;
  width: 30vw;
  background-color: rgba(171, 140, 182, 255);
  left: 10vw;
  
}
#k2 {
  top: 0;
  position: absolute;
  background-color: rgba(186, 223, 216, 255);
  height: 15vw;
  width: 15vw;

  left: 60%;
}
#k5 {
  top: 10vh;
  position: absolute;
  background-color: rgba(186, 15, 216, 255);
  height: 70vh;
  width: 70vw;
  left: 20%;
}
#k3 {
  margin: 0px;
  line-height: 0px;
  top: 150vh;
  z-index: 100;
  position: absolute;

  left: 25%;
}
#k4 {
  margin-top: 50vh;

  z-index: 2;

  height: 30%;
  width: 40%;
  background-color: rgba(171, 140, 182, 255);

  left: 68%;
}
.hidden {
  opacity: 0;
  transition: all 0.5s;
  transform: translateX(-100%);
}
.show {
  opacity: 1;
  transition: all 1s;
  
  transform: translateX(0%);
}
