* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
  overflow-x: hidden;
 
}
h1{
  font-size: 23vw;
}
section{
  overflow: hidden;
  height: 200vh;
  
}
.kwadrat{
 
}
.kontener{
  position: relative;
  height: 100vh;
 
  
  
}
.kontener2{
  background-color:rgba(252,189,73,255);
  position: relative;
  height: 100vh;
  
}
#k1{
  top: 100vh;
  position: absolute;
  height: 30vw;
  width: 30vw;
  background-color: rgba(171,140,182,255);
  left: 10vw;
}
#k2{
  top: 0;
  position: absolute;
  background-color: rgba(186,223,216,255);
  height: 15vw;
  width: 15vw;
  
  left: 60%;
}
#k3{
  top: 150vh;
  z-index: 2;
  position: absolute;
  
  
  left: 25%;
}